@model List<Publicacion>
@{
    int usuario_id = ViewBag.Usuario_id;
}

<script>
    $(document).ready(function () {
        $("#contenido").keyup(function (e) {
            var obj = $(this);
            if (e.keyCode == 13) {
                if (obj.val().length > 5) {
                    var para = @usuario_id;
                    var de = @SessionHelper.GetUser();
                    $.ajax({
                        data: {
                            Contenido: obj.val(),
                            Para: para,
                            De: de
                        },
                        url: base_url('Usuario/Publicar'),
                        type: 'POST',
                        beforeSend: function () {
                            obj.val('Su publicación esta siendo enviada, espere un momento...');
                            obj.attr('disabled', true);
                        },
                        success: function (r) {
                            obj.attr('disabled', false);
                            if (r.response) {
                                obj.val('');
                                CargarPublicaciones();
                            }
                            else {
                                alert(r.message);
                            }
                        }
                    });
                }
            }
        });
    });
</script>

<div class="form-group">
    <input type="text" maxlength="300" placeholder="¿Que estas pensando?" autocomplete="off" class="form-control" id="contenido" name="contenido" />
    <span class="help-block">Escribe lo que deseas publicar y luego presiona Enter.</span>
</div>

<div class="row">
    @foreach (var p in Model)
    {
        <div class="col-md-12">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-md-2">
                        <div class="thumbnail">
                            <a href="~/Usuario/Ver/@p.Emisor.Url">
                                <img src="~/Uploads/@p.Emisor.Foto.Foto3" alt="@p.Emisor.Nombre" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <b><a href="~/Usuario/Ver/@p.Emisor.Url">@p.Emisor.Nombre</a></b>
                        @if (p.Para != p.De)
                        {
                            <small><i class="fa fa-play"></i></small><a href="~/Usuario/Ver/@p.Receptor.Url">@p.Receptor.Nombre @p.Receptor.Apellido</a>
                        }
                        <br />
                        <small class="text-muted">@ViewHelper.TimeAgo(p.FechaRegistro)</small>
                        <p class="remove-margin-bottom">
                            @p.Contenido

                        </p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>