@model List<Publicacion>
@{
    int usuario_id = ViewBag.Usuario_id;
}

<div class="row">
    @foreach (var p in Model)
    {
        <div class="col-md-12">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-md-2">
                        <div class="thumbnail">
                            <a href="~/Usuario/Ver/@p.Emisor.Url">
                                <img src="~/Uploads/@p.Emisor.Foto.Foto3" alt="@p.Emisor.Nombre" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <b><a href="~/Usuario/Ver/@p.Emisor.Url">@p.Emisor.Nombre</a></b>
                        @if (p.Para != p.De)
                        {
                            <small><i class="fa fa-play"></i></small><a href="~/Usuario/Ver/@p.Receptor.Url">@p.Receptor.Nombre @p.Receptor.Apellido</a>
                        }
                        <br />
                        <small class="text-muted">@ViewHelper.TimeAgo(p.FechaRegistro)</small>
                        <p class="remove-margin-bottom">
                            @p.Contenido

                        </p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>